{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="login-page">
    <div class="student-signup-form">
      {% if registered %}
      <h1>Thank you for registering.</h1>
      {% else %}
      <h1>Sign up as a Student.</h1>
      <h3>Fill out the form:</h3>

      <form method="post">
        {% csrf_token %}

        {{ Student_Form.non_field_errors }}

        <p> <label>{{ Student_Form.name.label_tag }}</label>{{ Student_Form.name }}</p>
        <p> <label >{{ Student_Form.roll_no.label_tag }}</label>  {{ Student_Form.roll_no }}</p>
        <p> <label for="">{{ Student_Form.email.label_tag }}</label>{{ Student_Form.email }}</p>

        {{ loggerform.non_field_errors }}

        <p> <label for="">{{ logger_Form.username.label_tag }}</label>{{ logger_Form.username }}</p>
        <p> {{ loggerform.username.help_text }}</p>
        <p> <label for="">{{ logger_Form.password1.label_tag }}</label>{{ logger_Form.password1 }}</p>
        <p>Password can't be similar to your other fields and must contain atleast 8 characters.</p>
        <p> <label for="">{{ logger_Form.password2.label_tag }}</label>{{ logger_Form.password2 }}</p>
        <p> {{ logger_Form.password2.help_text }} </p>
        <input type="submit" name="" value="Sign Up">
      </form>
      <a href="{% url 'login' %}">Already have an account.</a>
      {% endif %}
    </div>
</div>

{% endblock %}
